.app {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  overflow: hidden;
}

.navbar {
  height: 50px;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  flex-shrink: 0;
}

.main {
  flex: 1;
  overflow: hidden;
  background: #222;
}



